<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#3294FA</string>
		<key>icon</key>
		<string>ic_category_normal</string>
		<key>name</key>
		<string>一般</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#5A5A76</string>
		<key>icon</key>
		<string>ic_category_traffic</string>
		<key>name</key>
		<string>交通</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#53BC79</string>
		<key>icon</key>
		<string>ic_category_dining</string>
		<key>name</key>
		<string>用餐</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#A34633</string>
		<key>icon</key>
		<string>ic_category_drink</string>
		<key>name</key>
		<string>饮料</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#DB4962</string>
		<key>icon</key>
		<string>ic_category_shopping</string>
		<key>name</key>
		<string>购物</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#AB854D</string>
		<key>icon</key>
		<string>ic_category_rent</string>
		<key>name</key>
		<string>住房</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#F7C428</string>
		<key>icon</key>
		<string>ic_category_snacks</string>
		<key>name</key>
		<string>零食</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#E1458D</string>
		<key>icon</key>
		<string>ic_category_beauty</string>
		<key>name</key>
		<string>丽人</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#A46744</string>
		<key>icon</key>
		<string>ic_category_clothes</string>
		<key>name</key>
		<string>服饰</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#ED9037</string>
		<key>icon</key>
		<string>ic_category_entertainment</string>
		<key>name</key>
		<string>娱乐</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#30609A</string>
		<key>icon</key>
		<string>ic_category_communication</string>
		<key>name</key>
		<string>通讯</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#4BA760</string>
		<key>icon</key>
		<string>ic_category_fruit</string>
		<key>name</key>
		<string>水果</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#548ACD</string>
		<key>icon</key>
		<string>ic_category_dailygoods</string>
		<key>name</key>
		<string>日用品</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#3A94E9</string>
		<key>icon</key>
		<string>ic_category_gift</string>
		<key>name</key>
		<string>礼品</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#AAD532</string>
		<key>icon</key>
		<string>ic_category_home</string>
		<key>name</key>
		<string>家居</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#5EB833</string>
		<key>icon</key>
		<string>ic_category_ingredients</string>
		<key>name</key>
		<string>食材</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#5FB832</string>
		<key>icon</key>
		<string>ic_category_learn</string>
		<key>name</key>
		<string>学习</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#5A3833</string>
		<key>icon</key>
		<string>ic_category_fitness</string>
		<key>name</key>
		<string>健身</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#4F5C79</string>
		<key>icon</key>
		<string>ic_category_movement</string>
		<key>name</key>
		<string>运动</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#642932</string>
		<key>icon</key>
		<string>ic_category_movie</string>
		<key>name</key>
		<string>电影</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#F0461E</string>
		<key>icon</key>
		<string>ic_category_redPack</string>
		<key>name</key>
		<string>红包</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#50BA9B</string>
		<key>icon</key>
		<string>ic_category_tour</string>
		<key>name</key>
		<string>旅游</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>color</key>
		<string>#E23939</string>
		<key>icon</key>
		<string>ic_category_treatment</string>
		<key>name</key>
		<string>医疗</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>color</key>
		<string>#3F9EC3</string>
		<key>icon</key>
		<string>ic_category_wage</string>
		<key>name</key>
		<string>工资</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>color</key>
		<string>#307831</string>
		<key>icon</key>
		<string>ic_category_parttime</string>
		<key>name</key>
		<string>兼职</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>color</key>
		<string>#C32A37</string>
		<key>icon</key>
		<string>ic_category_investment</string>
		<key>name</key>
		<string>投资</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>color</key>
		<string>#F0461E</string>
		<key>icon</key>
		<string>ic_category_redPack</string>
		<key>name</key>
		<string>红包</string>
	</dict>
</array>
</plist>
