<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PetNotebook.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
				<key>dateExpires</key>
				<string>2019/4/3</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HappyDNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MMMaterialDesignSpinner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Qiniu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FEF6F5E0A8AAC79373612CD9910E0B1CF58F6A01</string>
						<key>dateExpires</key>
						<string>2019/4/3</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>VENCalculatorInputView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5B8YP9Z597</string>
						<key>name</key>
						<string>qiuwei liao</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5B8YP9Z597.com.PetNotebook.www</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5B8YP9Z597</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5B8YP9Z597.com.PetNotebook.www</string>
				</array>
			</dict>
			<key>name</key>
			<string>PetNotebook.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cdb43e4e-fef7-4475-bcf4-5f16b17fee6d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.PetNotebook.www</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5B8YP9Z597</string>
				<key>name</key>
				<string>qiuwei liao</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
